<header>
	<div id='header-title'>
		<h2><%= link_to "trashtalk", root_path%></span>
	</div>
	<nav>
		<ul id='nav-links'>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Login", '#' %></li>
			<li><%= link_to "Sign Out", '#' %></li>
		</ul>
	</nav>
</header>